---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2024 - Present",
    title: "Customer Support Engineer (Lenovo / IBM)",
    company: "Trident Corporation Pvt Ltd",
    description:
      "As a Customer Technical Support Engineer at Trident Corporation specializing in Lenovo/IBM products, the focus has been on delivering top-notch technical support for complex enterprise infrastructures. Over the past year, there has been a commitment to troubleshooting various datacenter products including servers and storage solutions. Successfully managed more than 50 deployments of IT solutions leveraging Nutanix and VMware technologies that enhanced client performance significantly. Engaging directly with telecom giants like Sri Lanka Telecom has provided the opportunity to collaborate on critical projects that serve government institutions. This collaboration ensured compliance with strict regulations while improving operational efficiency by 20%. Ongoing maintenance of legacy IBM Power Systems has been pivotal in reducing service response times by 25%, which directly contributed to heightened customer satisfaction. The role is not just about problem-solving; it's about building lasting relationships with clients through exceptional service.",
  },
  {
    date: "2023 - 2024",
    title: "System Engineer",
    company: "Multi-System Technologies Pvt Ltd",
    description:
      "Key accomplishments include:\n* Delivered comprehensive datacenter solutions with disaster recovery compatibility achieving 99% minimal downtime while ensuring high performance across various sectors including government and private enterprises.\n* Deployed extensive ELV systems integrating IP CCTV, public address systems, and access control across three new commercial buildings to enhance security operations efficiently.\n* Designed custom network topologies through detailed assessments and consultations that optimized performance while reducing operational costs by 30%.\n* Led fiber optic backbone installations utilizing splicing techniques and OTDR testing which improved bandwidth capacity by 40% for client networks.\n* Implemented advanced cybersecurity measures using Fortinet and Cisco technologies to secure networks against threats while maintaining compliance with industry standards.",
  },
  {
    date: "2022 - 2023",
    title: "System Engineer | ELV (Active Engineer)",
    company: "Finco Technologies Pvt Ltd",
    description:
      "As a System Engineer at Finco Technologies, the focus was on delivering innovative networking solutions tailored to meet client needs. The journey began with a keen interest in computer networking that led to a promotion based on demonstrated talent. Engaging directly with customers allowed for an in-depth understanding of their challenges, which resulted in effective technology-driven solutions that significantly improved their operations.",
  },
  {
    date: "2020 - 2022",
    title: "Associate System Engineer | ELV (Active Engineer)",
    company: "Finco Technologies Pvt Ltd",
    description: " ",
  },
  {
    date: "2020 - 2021",
    title: "IT Technician",
    company: "Finco Technologies Pvt Ltd",
    description:
      "In Finco Group I worked as a Technical support Engineer, my job role is to support our customers with their day-to-day IT Problems, and provide technical services to the solution, sold by our company",
  },
  {
    date: "2018 - 2019",
    title: "Network Administrator Trainee & Recovary Engineer",
    company: "The Greatlake Holdings (Pvt) Ltd - Cisco Training Center",
    description:
      "During my time as a Trainee Network Administrator at The Great Lake Holdings, I immersed myself in the world of networking. This role was pivotal in honing my skills with Cisco technologies. One of my proudest achievements was establishing a detailed monitoring plan for our Testing LAB. This initiative not only improved the performance of our network devices but also became a lasting part of our operational procedures. Additionally, I implemented a firewall solution that secured our network against potential threats from external student connections. My experience also involved conducting regular tests on Cisco equipment to ensure everything ran smoothly. Assisting students in their hands-on lab work fostered an interactive learning atmosphere that truly sparked my passion for technology.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
