---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2023 - Present",
    title: "Customer Support Engineer (Lenovo / IBM)",
    company: "Trident Corporation Pvt Ltd",
    description:
      "Providing expert-level technical support, troubleshooting, and enterprise infrastructure management for Lenovo and IBM systems. Focusing on seamless operations, hardware resolution, and optimizing technical service delivery.",
  },
  {
    date: "2023 - Present",
    title: "Full Stack Developer",
    company: "Freelance",
    description:
      "Designing and developing full-stack web applications for clients across various industries. Building responsive UIs with React and Next.js, scalable backends with Node.js and Express, and managing databases like MySQL and MongoDB.",
  },
  {
    date: "Past Experience",
    title: "Technical Support & Network Engineer",
    company: "TRENDnet & Multi-System Technologies",
    description:
      "Administered networking equipment and provided comprehensive technical support. Setup, configured, and troubleshot network infrastructure to ensure robust system availability.",
  },
];

---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
